
.cardeffect::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f4c402;
  opacity: 0.93;
}

.borderLine::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50px; /* Adjust top position for spacing on mobile */
  bottom: 50px; /* Adjust bottom position for spacing on mobile */
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 3;
}

@media (max-width: 900px) {
  /* Styles for mobile screens */
  .borderLine::after {
    display: none;
  }
}

.box_animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


.about_img {
  margin: 0 0 0 2rem;
  width: 650px;
  float: right;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px
}


@media only screen and (max-width:1024px) {
  .about_img {
    width: 450px;
    margin: 0 0 0 0.1;
  }
}



/* UniqueStyling.css */

/* Custom effect styles */
.custom_effect_container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
gap: 1rem;
}
.custom_effect {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #f4c402;
  color: black;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


.custom_effect:hover {
  transform: translateY(-10px);
  background-color: #2F248F;
  color: white;
}

/* Animation for different values */
.custom_effect:nth-child(1) {
  animation: slideFromLeft 1s ease-in-out;
}

.custom_effect:nth-child(2) {
  animation: slideFromRight 1s ease-in-out;
}

.custom_effect:nth-child(3) {
  animation: slideFromLeft 1s ease-in-out;
}

.custom_effect:nth-child(4) {
  animation: slideFromRight 1s ease-in-out;
}

.custom_effect:nth-child(5) {
  animation: slideFromLeft 1s ease-in-out;
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
